<div>
	
	<div class="row ma-filters">
	  <div class="col-md-6">
	    <h3>All Items:</h3>
	    <form class="form-inline">
	      <input type="text" class="form-control" #searchtext placeholder="Search by Station">
	      <button type="button" class="btn btn-primary" (click)="search(searchtext.value)">Search</button>
	    </form>
	  </div>
	</div>
	<br>

	<!--<parties-form></parties-form> -->
	<div class="row">
		<div *ngFor="let item of items | async" class="col-sm-3">
			<div class="card">
		  	<img class="card-img-top" src="{{item.url}}" alt="Card image cap" style="width: 18.1rem;" height="230rem;">
		  	<div class="card-block">
		    	<h4 class="card-title">{{item.name}}</h4>
			    <p class="card-text">{{item.excerpt}}</p>
			    <a href="#" class="btn btn-warning" [routerLink]="['/item', item._id]">Detail</a>
			    <a href="#" class="btn btn-danger" (click)="removeItem(item)">Remove</a>
				</div>
			</div>
		</div>
	</div>
</div>